<div class="nf-container">
    <div class="nf-text">
        <h1>404 页面走丢了</h1>
    </div>
    <div class="nf-button">
        <a href="/" class="button large center"><i class="fa-regular fa-house"></i> 回到首页</a>
    </div>
</div>
